.introduction__container {
  display: flex;
  justify-content: space-between;
}

.introduction-text__title {
  max-width: 462px;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 80px;
  line-height: 77px;
  margin: 92px 0 30px;
}

.introduction-text__paragraph {
  font-family: "Mulish";
  font-weight: 400;
  font-size: 20px;
  max-width: 462px;
  
}

.button__violet {
    background-color: #5454D4;
}
.introduction__logos{
    display: flex;
    justify-content: space-between;
}